<div class="summer-promo-header">
	<div class="summer-promo-header__container">
		<div class="summer-promo-header__text-wrapper fx-animation-sequence-all">
			<h1 class="summer-promo-header__title animated"
				data-animate="fx-animation-fadeInUp"><%- i18n.fx('page_promoAsia_text1')%></h1>
			<h3 class="summer-promo-header__subtitle_primary animated"
				data-animate="fx-animation-fadeInUp"><%- i18n.fx('page_promoAsia_text2')%></h3>
			<h4 class="summer-promo-header__subtitle_secondary animated"
				data-animate="fx-animation-fadeInUp"><%- i18n.fx('page_promoAsia_text3')%></h4>
			<span class="summer-promo-header__dates animated"
				  data-animate="fx-animation-fadeInUp"><%- i18n.fx('page_promoAsia_text4')%></span>
		</div>
		<div class="summer-promo-header__podium">
			<img src="https://direct-landings.azureedge.net/assets/img/pages/summer/hero_podium.svg"
				 alt="">
		</div>
		<div class="fx-animation-sequence-all">
			<div class="summer-promo-header__star summer-promo-header__star_large animated"
				 data-animate="fx-animation-fadeIn">
				<img src="https://direct-landings.azureedge.net/assets/img/pages/summer/lensflafe_small.svg"
					 alt="">
			</div>
			<div class="summer-promo-header__star summer-promo-header__star_small animated"
				 data-animate="fx-animation-fadeIn">
				<img src="https://direct-landings.azureedge.net/assets/img/pages/summer/lensflafe_small.svg"
					 alt="">
			</div>
			<div class="summer-promo-header__star summer-promo-header__star_medium animated"
				 data-animate="fx-animation-fadeIn">
				<img src="https://direct-landings.azureedge.net/assets/img/pages/summer/lensflafe_small.svg"
					 alt="">
			</div>
			<div class="summer-promo-header__button animated"
				 data-animate="fx-animation-fadeInUp">
				<a rel="nofollow noopener" href="javascript: void(0);"
				   class="direct-register-link"><%- i18n.fx('section_tradingIdeas_getIdeasLinkTitle')%> →</a>
			</div>
		</div>
	</div>
</div>